<!DOCTYPE html>
<html>
  <head>
    <title>ahx</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/missing.css@1.1.0/dist/missing.min.css"
    />

    <link rel="stylesheet" href="./index.css"/>

    <script src="./ahx.js" type="module"></script>
  </head>
  <body>
    <main>
      <header>
        <h1>Augmented Hypermedia Extensions</h1>
      </header>

      <a ahx-get="/more.html" ahx-trigger="click">Load me</a>

      <br/>

      <a class="load-on-click">Load me too</a>

      <br/>

      <span ahx-get="/more.html" ahx-trigger="load once">Load me on load</span>

      <br/>

      <span class="load-on-load">Load me on load via CSS rule</span>

      <br/>

      <a ahx-get="/more.html">This does nothing as it has no explicit trigger</a>

      <hr/>

      <div ahx-deny-trigger>
        <a ahx-get="/more.html" ahx-trigger="click">Load me</a>
        <br/>
        <a class="load-on-click">Load me too</a>
        <br/>
        <span ahx-get="/more.html" ahx-trigger="load once">Load me on load</span>
        <br/>
        <span class="load-on-load">Load me on load via CSS rule</span>
      </div>

      <hr/>

      <slot ahx-get="/numberwang.html" ahx-trigger="load once"></slot>

      <hr/>

      <form id="my-form">
      </form>

      <span ahx-trigger="click" ahx-get="/loaded.html" ahx-include="#my-form">Click Me</span>

      <hr/>

      <div class="huge">Click to load some streamed content</div>

      <hr/>
    </main>
  </body>
</html>
