<!DOCTYPE html>
<html>
  <head>
    <title>AHX</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/missing.css@1.1.0/dist/missing.min.css"
    />

    <link rel="stylesheet" href="./index.css"/>

    <script src="./ahx.js" type="module"></script>
  </head>
  <body>
    <main>
      <header>
        <h1>Augmented Hypermedia</h1>
      </header>

      <!--
      <a ahx-get="/loaded.html">Load me</a>

      <br/>

      <a class="load-on-click">Load me too</a>

      <br/>

      <span ahx-get="/loaded.html" ahx-trigger="load once">Load me on load</span>

      <br/>

      <span class="load-on-load">Load me on load via CSS rule</span>

      <hr/>
      -->

      <table class="numberwang">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>First</td>
            <td>the worst</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Second</td>
            <td>the best</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Third</td>
            <td>the one with the hairy chest</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
