.numberwang tbody td:nth-child(3) {
  outline: 1px dotted red;

  /* get the value of innerText of the element that matches this rule */
  --ahx-trigger: load, mutate;

  --ahx-harvest: --prop(innerText);

  /* select the 'form' as the closest tr ancestor */
  --ahx-target: closest tr;

  /* set the value of the form input named "description" */
  --ahx-swap: input "description";
}

/* .numberwang tbody tr::after {
  --ahx-trigger: load once;
  --ahx-get: url("./more.html");
  --ahx-include: closest tr;
} */

.numberwang tbody tr {
  --ahx-trigger: load once;
  --ahx-get: url("./column.html");
  --ahx-include: closest tr;
  --ahx-swap: beforeEnd;
}

.numberwang tbody tr {
  --ahx-trigger: load, mutate;
  --ahx-harvest: attr(data-ref);
  --ahx-target: #my-form;
  --ahx-swap: input "refs" append;
}

.numberwang {
  --ahx-trigger: load;
  --ahx-harvest: "true";
  --ahx-target: body;
  --ahx-swap: attr "data-has-numberwang";
}
